html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*::before,
*::after {
  --h1-def-fs: clamp(16px, 5vw, 32px);
  --h2-def-fs: clamp(14px, 5vw, 18px);
  --p-def-fs: clamp(14px, 5vw, 16px);
  --p-lh: 1.5;
  --ff: roboto;
  --fc: rgb(58 55 61);

  --bg-c: whitesmoke;
  --crd-txt-algn: center;
  --max-w: 1200px;
  --c-mrgn: 0 auto;
}

main {
  background-color: var(--bg-c);
}

header {
  background-color: var(--bg-c);
}
.header-content {
  max-width: var(--max-w);
  margin: var(--c-mrgn);
  background-color: var(--bg-c);
}

.scoreboard {
  background-color: var(--bg-c);
}

.scores {
  max-width: var(--max-w);
  margin: var(--c-mrgn);
  background-color: var(--bg-c);
}
h1 {
  font-size: var(--h1-def-fs);
  font-family: roboto;
  padding: 0.75rem 2rem;
  color: var(--fc);
}

h2 {
  font-size: var(--h2-def-fs);
  font-family: roboto;
  text-align: var(--crd-txt-algn);
  padding: 0.5rem 1rem;
  color: var(--fc);
}

p {
  font-size: var(--p-def-fs);
  font-family: roboto;
  line-height: var(--p-lh);
  padding: 0 2rem;
  color: var(--fc);
}

.cards {
  max-width: var(--max-w);
  margin: var(--c-mrgn);
  padding: 3rem 0;
  background-color: var(--bg-c);
}

ul.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  gap: 1.5rem;
  justify-content: center;
}

.card img {
  width: 80%;
  background-color: var(--bg-c);
  border-radius: 0.75rem;
  border: 2px solid gray;
}

.card {
  border-radius: 0.75rem;
  background-color: var(--bg-c);
  border: 2px solid gray;
  padding: 1rem 0 0;
}

.card-content {
  width: 100%;
  appearance: none;
  border: none;
  background-color: inherit;
}

.card-content:focus-visible {
  outline: 5px dashed blueviolet;
  border-radius: 0.75rem;
}

.card-content:hover > .card {
  outline: 5px solid rosybrown;
  outline-offset: -1px;
}

.card-content:active > .card {
  opacity: 0px 0px 0px 3px gray;
}
